
  .detail-content {
    min-height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;

    .flex-center-detail {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .card-img-detail {
      padding: 1.5rem;
      flex: 4;
      border-radius: 1.5rem;

      img {
        width: 100%;
      }
    }

    .card-info {
      padding: 1.5rem;
      
      flex: 6;

      .info-top {
        .card-title {
          font-family: HarmonyOS_Sans_Bold;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.5rem;
          color: #FFFFFF;
          overflow: hidden; //超出的文本隐藏
          text-overflow: ellipsis; //溢出用省略号显示
          white-space: nowrap; //溢出不换行
          height: 1.5rem;
          padding-bottom: 2rem;
        }

        .card-cols-2 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: HarmonyOS_Sans_Bold;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.5rem;

          .color-title {
            background: linear-gradient(103deg, #EC0F00 0%, #FCDC66 99%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }

          .white-title {
            font-family: HarmonyOS_Sans_Thin;
            font-size: 1.5rem;
            font-weight: normal;
            line-height: 1.5rem;
          }

          .attention-number {
            font-family: HarmonyOS_Sans_Thin;
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: 0px;
            color: #FFFFFF;
            
            span {
              font-family: HarmonyOS_Sans_Bold;
              font-weight: bold;
              font-size: 1.5rem;
            }

            .lable-button {
              padding-left: 1rem;
              span {
                font-size: 1rem;
              }
            }
          }

          .detail-buy-button {
            width: 100%;
            button {
              width: 100%;
              height: 5.437rem;
              border-radius: 3.187rem;
              font-family: HarmonyOS_Sans_Bold;
              font-size: 2rem;
              font-weight: bold;
              line-height: 2rem;
              text-align: center;
            }
          }
        }
      }
    }

    .activity-participants {
      // width: 30rem;
      // height: 46.25rem;
      flex: 4;
    }

    .share-twitter {
      // width: 46.25rem;
      flex: 6;
      .detail-buy-button {
        width: 100%;
        button {
          width: 100%;
          height: 5.437rem;
          border-radius: 3.187rem;
          font-family: HarmonyOS_Sans_Bold;
          font-size: 2rem;
          font-weight: bold;
          line-height: 2rem;
          text-align: center;
          border: 2px solid #4D5882;
        }
      }

      .detail-share-twitter-button {
        button {
          width: 100%;
          height: 4.875rem;
          border-radius: 2.437rem;
          font-family: HarmonyOS_Sans_Bold;
          font-size: 0.875rem;
          font-weight: bold;
          border: 2px solid #4D5882;
        }
      }

      .detail-copy-button {
        button {
          width: 100%;
          height: 3rem;
          border-radius: 2.437rem;
          font-family: HarmonyOS_Sans_Thin;
          font-size: 0.875rem;
          font-weight: bold;
          border: 2px solid #4D5882;
        }
      }

      .end-soon-detail {
        font-family: HarmonyOS_Sans_Bold;
        font-size: 2.125rem;
        font-weight: bold;
        line-height: 2.125rem;
        padding-bottom: 2.25rem;
      }
    }
  }
