.card-content-nft-card {
  width: 10.937rem;
  border-radius: 0.75rem;
  background: #443c4a;
  display: flex;
  flex-direction: column;

  .card-img {
    width: 9.687rem;
    height: 9.687rem;
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.75rem;
    }

    .card-id {
      width: 1.687rem;
      height: 0.9375rem;
      line-height: 0.9375rem;
      border-radius: 0.4687rem;
      position: relative;
      top: -40px;
      left: 8px;
      background: #fff;
      text-align: center;

      font-family: HarmonyOS_Sans_Bold;
      font-size: 0.4375rem;
      font-weight: bold;
      color: #3E3E3E;
    }
  }

  .card-detail {
    margin-top: 0.625rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;

    .card-name-value {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .card-name {
        font-family: HarmonyOS_Sans_Bold;
        font-size: 0.625rem;
        font-weight: bold;
        line-height: 0.625rem;
        color: #ffffff;
      }

      .card-value {
        font-family: HarmonyOS_Sans_Regular;
        font-size: 0.625rem;
        font-weight: normal;
        line-height: 0.625rem;
        text-align: right;
        color: #ffffff;
      }
    }
  }

  .card-busd {
    margin-top: 0.5rem;
    margin-left: 0.625rem;
    font-family: HarmonyOS_Sans_Bold;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.75rem;
    color: #2395FF;

    img {
      width: 0.625rem;
      height: 0.625rem;
      margin-left: 5px;
    }
  }

  .card-progress {
    margin-top: 0.5rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    .progress-bar {
      width: 8.375rem;
      // padding-top: 4px;
    }

    span {
      font-family: HarmonyOS_Sans_Bold;
      font-size: 0.4375rem;
      font-weight: bold;
      line-height: 0.4375rem;
      color: #3A8AFF;
    }
  }

  .card-button {
    button {
      width: 9.687rem;
      height: 1.875rem;
      line-height: 1.875rem;
      border-radius: 0.9375rem;
      opacity: 1;
      background: #3A8AFF;
      margin: 0.5rem 0.625rem 0px;
      text-align: center;
      font-family: HarmonyOS_Sans_Bold;
      font-size: 0.625rem;
      font-weight: bold;
      color: #fff;
    }
  }
}